html{
  align-items: center;
}

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  text-align: center;
  background-color: black;

}
.forshow {
  padding: 20%;

  background-color: white;
}

a {
  color: #00B7FF;
}
